.HamburgerIconContainer{
  display: none;
}

.NavBarContainer{
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 1vmin;
  box-shadow: 0 4px 18px -4px rgb(0 0 0 / 25%);
  background: #fff;
}

/* React logo css */
.Logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------------------- */


/* Menu button css */
a {
  color: black;
  /* line-height: 1.4; */
  padding: .25em;
  text-decoration: none;
}

.MenuButton {
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-right: 5vmin;
}

.MenuButton:hover,
.MenuButton:active {
letter-spacing: 5px;
border-top: 1px solid black;
border-bottom: 1px solid black;
transition: all 280ms ease-in;
}

.MenuButton:not(:hover),
.MenuButton:not(:active) {
transition: all 280ms ease-out;
}


.MenuButtonContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ------------------------------------ */

/* media query for mobile screen navigation bar */
@media only screen and (max-width: 425px) {
  .NavBarContainer {
    display: none;
  }

  .HamburgerIconContainer{
    display: inline-block;
    cursor: pointer;
    padding: 2vmin;
  }

  .MobileNavContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--color-background);
    padding: 5vmin 2vmin;
    box-sizing: border-box;
    z-index: 1000;
    width: 50%;
    transform: translateX(-100%);
    animation: slide-in 0.4s forwards;
    -webkit-animation: slide-in 0.4s forwards;
    animation-timing-function:ease-out;
  }

  @keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
  .Logo {
    display: none;
  }

  .UserSection{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1vmin;
    background-color: var(--color-primary-black);
    color: var(--color-background);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* font-size: 16px; */
  }

  .MobileMenuButtonContainer{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10vmin;
  }
}

/* --------------------------------------------------- */