/* Hero top section css */
.HeroSection{
    background: url("../../assets/Images/home-banner.svg") no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 100vh;
    margin: 0 15vmin;
}
/* ------------------------------- */

/* Profile navigation card css and hover effects */
.TilesSection{
    display: grid;
    grid-template-columns: auto auto;
    font-size: calc(20px + 2vmin);
    cursor: pointer;
}

.Bg_Black{
    background-color: #313D3F;
}

.Bg_Yellow{
    background-color: #EFC01A;
}

.ProfileNavigatorCard{
    margin: auto;
    padding: 250px 0;
    width: 100%;
    text-align: center;
    color: white;
}

.ProfileNavigatorCard:hover{
    background: rgb(255, 255, 255);
    color: black;
    font-size: calc(50px + 2vmin);
    transition: all 280ms ease-in;
}

.ProfileNavigatorCard:not(:hover) { 
    transition: all .5s ease-out;
 }

/* ------------------------------------------------ */

/* Typewriter section css */
.TypewriterSection{
    margin: 200px 0;
    font-size: calc(50px + 2vmin);
    display: flex;
    flex-flow: row nowrap;
}

.TypewriterSection div{
    flex-basis: 50%;
    text-align: center;
}
/* ----------------------------------------------------- */

@media only screen and (max-width: 425px) {
    .HeroSection{
        height: 50vh;
    }
    .ProfileNavigatorCard{
        margin: auto;
        padding: 0;
        height: 50vh;
        width: 100%;
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  