* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: var(--font--Regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Calibre-Bold;
  font-style: normal;
  src: url("./fonts/CalibreBold.otf");
  font-display: swap;
}

@font-face {
  font-family: Calibre-Medium;
  font-style: normal;
  src: url("./fonts/CalibreMedium.otf");
  font-display: swap;
}

@font-face {
  font-family: Calibre-Regular;
  font-style: normal;
  src: url("./fonts/CalibreRegular.otf");
  font-display: swap;
}

@font-face {
  font-family: Calibre-SemiBold;
  font-style: normal;
  src: url("./fonts/CalibreSemibold.otf");
  font-display: swap;
}

@font-face {
  font-family: Calibre-Italic;
  font-style: normal;
  src: url("./fonts/CalibreBlackItalic.otf");
  font-display: swap;
}

:root {
  --color-background: #ffffff;

  --color-primary-black: #313D3F;
  --color-secondary-black: rgba(49,61,63,0.6);
  --color-primary-yellow: #EFC01A;
  --color-secondary-yellow: rgb(239,192,26,0.6);

  --color-link: #5FC1CE;

  /* --font--SemiBoldItalic: Montserrat-SemiBoldItalic, sans-serif, serif; */
  --font--SemiBold: Calibre-SemiBold, sans-serif, serif;
  --font--Regular: Calibre-Regular, sans-serif, serif;
  --font--Medium: Calibre-Medium, sans-serif, serif;
  /* --font--LightItalic: Montserrat-LightItalic, sans-serif, serif; */
  /* --font--Light: Montserrat-Light, sans-serif, serif; */
  --font--Italic: Calibre-Italic, sans-serif, serif;
  /* --font--ExtraLight: Montserrat-ExtraLight, sans-serif, serif; */
  /* --font--ExtraBold: Montserrat-ExtraBold, sans-serif, serif; */
  --font--Bold: Calibre-Bold, sans-serif, serif;

}